@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'Gotham';
  font-display: swap;
  src: url("../fonts/Gotham-Book.eot");
  src: local("O"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-display: swap;
  src: url("../fonts/Gotham-Medium.eot");
  src: local("O"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-display: swap;
  src: url("../fonts/Gotham-Bold.eot");
  src: local("O"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("O"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  width: 100%;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-family: 'Gotham';
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}

.header.background {
  background-color: #222222;
}

.conteiner {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .conteiner {
    max-width: 1070px;
  }
}

@media (max-width: 768px) {
  .conteiner {
    max-width: none;
  }
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .header-box-logo {
    position: relative;
    z-index: 5;
    left: 10px;
  }
}

.header-box-logo__item {
  padding: 17.5px 140px 17.5px 0px;
}

@media (max-width: 1200px) {
  .header-box-logo__item {
    padding: 17.5px 80px 17.5px 0px;
  }
}

@media (max-width: 998px) {
  .header-box-logo__item {
    padding: 15px 40px 15px 0px;
  }
  .header-box-logo__item img {
    height: 60px;
  }
}

@media (max-width: 768px) {
  .header-box-logo__item {
    padding: 10px 40px 10px 0px;
  }
  .header-box-logo__item img {
    height: 50px;
  }
}

.header-box-menu-list {
  /*&-social-item{
            //height: 100%;
            &__list {
               height: 40px;
               display: flex;
               justify-content: center;
               align-items: center;
               li{
                  flex: 0 1 40px;
                  padding: 0 20px 0 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  &:first-child{
                  padding: 0 30px 0 0;
                  }
                  &:last-child{
                     padding: 0 0px 0 0;
                  }
                  
               }
            }
         }*/
}

.header-box-menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-box-menu-list__item li {
  padding: 0 25px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 6px solid rgba(255, 255, 255, 0);
  border-top: 6px solid rgba(255, 255, 255, 0);
}

.header-box-menu-list__item li:nth-child(7) {
  border-bottom: 6px solid rgba(255, 255, 255, 0);
  border-top: 6px solid rgba(255, 255, 255, 0);
}

@media (max-width: 1200px) {
  .header-box-menu-list__item li {
    padding: 0 15px 0 15px;
  }
}

@media (max-width: 998px) {
  .header-box-menu-list__item li {
    padding: 0 10px 0 10px;
  }
}

@media (max-width: 768px) {
  .header-box-menu-list__item li {
    padding: 0 10px 0 10px;
  }
  .header-box-menu-list__item li a {
    font-size: 25px;
  }
}

.header-box-menu-list__item li.checked {
  border-bottom: 6px solid #11749e !important;
}

.header-box-menu-list__item a {
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  font-family: MyriadPro;
}

@media (max-width: 830px) {
  .header-box-menu-list__item a {
    font-size: 17px;
  }
  .header-box-menu-list__item a img {
    height: 40px;
  }
}

.header-box-burger {
  position: relative;
  z-index: 5;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 70px;
}

.header-box-burger .header__burger {
  display: none;
}

@media (max-width: 768px) {
  .header-box-burger .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
}

.header-box-burger .header__burger span {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-box-burger .header__burger::before, .header-box-burger .header__burger::after {
  content: '';
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-box-burger .header__burger::before {
  top: 0;
}

.header-box-burger .header__burger::after {
  bottom: 0;
}

.header-box-burger .active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header-box-burger .active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header-box-burger .active span {
  display: none;
}

@media (max-width: 768px) {
  .header-box .header-box__colums--3 {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #11749e;
    z-index: 4;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header-box .header-box__colums--3 .header-box-menu {
    position: relative;
    top: 70px;
  }
  .header-box .header-box__colums--3 .header-box-menu-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header-box .header-box__colums--3 .header-box-menu-list__item li {
    height: 45px;
  }
  .header-box .header-box__colums--3 .header-box-menu-list__item li a {
    text-transform: uppercase;
  }
  .header-box .active {
    top: 0;
  }
  .header-box::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #222222;
    z-index: 5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  }
}

.main-screen__content {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-screen__title {
  padding: 380px 10px 0px 0;
}

@media (max-width: 1200px) {
  .main-screen__title {
    padding: 300px 10px 0px 0;
  }
}

@media (max-height: 700px) {
  .main-screen__title {
    padding: 240px 10px 0px 0;
  }
}

@media (max-height: 550px) {
  .main-screen__title {
    padding: 200px 10px 0px 0;
  }
}

@media (max-height: 460px) {
  .main-screen__title {
    padding: 150px 10px 0px 0;
  }
}

@media (max-height: 380px) {
  .main-screen__title {
    padding: 110px 10px 0px 0;
  }
}

@media (max-height: 340px) {
  .main-screen__title {
    padding: 90px 10px 0px 0;
  }
}

.main-screen__title h1 {
  font-size: 152.6px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -7.55px;
  color: #f5f5f5;
  display: inline-block;
  text-align: center;
}

@media (max-width: 998px) {
  .main-screen__title h1 {
    font-size: 130px;
    letter-spacing: -5.55px;
  }
}

@media (max-width: 769px) {
  .main-screen__title h1 {
    font-size: 100px;
    letter-spacing: -3.55px;
  }
}

@media (max-width: 590px) {
  .main-screen__title h1 {
    font-size: 80px;
    letter-spacing: -3px;
  }
}

@media (max-width: 450px) {
  .main-screen__title h1 {
    font-size: 60px;
    letter-spacing: -2.55px;
  }
}

@media (max-width: 374px) {
  .main-screen__title h1 {
    font-size: 45px;
    letter-spacing: -1.55px;
  }
}

.main-screen__subtitle {
  padding: 0 0 0 15px;
}

.main-screen__subtitle span {
  font-family: Gotham;
  font-size: 24.8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 18.87px;
  color: #11749e;
  text-align: center;
}

@media (max-width: 998px) {
  .main-screen__subtitle span {
    font-size: 20px;
    letter-spacing: 14px;
  }
}

@media (max-width: 769px) {
  .main-screen__subtitle span {
    font-size: 18px;
    letter-spacing: 10px;
  }
}

@media (max-width: 590px) {
  .main-screen__subtitle span {
    font-size: 16px;
    letter-spacing: 6px;
  }
}

@media (max-width: 450px) {
  .main-screen__subtitle span {
    font-size: 15px;
    letter-spacing: 4px;
  }
}

@media (max-width: 374px) {
  .main-screen__subtitle span {
    font-size: 13px;
    letter-spacing: 2px;
  }
}

.main-screen__scroll {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-screen__scroll p:first-child {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  padding: 0 0 10px 0;
}

.main-screen__arrow {
  width: 65px;
  height: 65px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  background: url("../img/arrow.png") 50% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 590px) {
  .main-screen__arrow {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 450px) {
  .main-screen__arrow {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 768px) {
  .content.lock {
    overflow: hidden;
  }
}

.block-awesome {
  background-color: #11749e;
  width: 100%;
  padding-bottom: 80px;
}

.block-awesome__bottom {
  padding: 40px 0 0 0;
}

.block-awesome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-awesome__colums {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px 20px 15px;
}

.block-awesome__colums:first-child {
  padding: 0 20px 20px 0;
}

.block-awesome__colums:last-child {
  padding: 0 0 20px 20px;
}

@media (max-width: 998px) {
  .block-awesome__colums {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .block-awesome__colums:first-child {
    padding: 0 15px 20px 15px;
  }
  .block-awesome__colums:last-child {
    padding: 0 15px 20px 15px;
  }
}

@media (max-width: 450px) {
  .block-awesome__colums {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .block-awesome__colums:first-child {
    padding: 0 15px 20px 15px;
  }
  .block-awesome__colums:last-child {
    padding: 0 15px 20px 15px;
  }
}

.block-awesome__feature {
  max-width: 280px;
  margin: 0 auto;
}

.block-awesome__img {
  margin: 0 auto;
  background-color: #2e85aa;
  border-radius: 50%;
  height: 133px;
  width: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-awesome__sub-title {
  padding: 20px 0;
}

.block-awesome__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.block-akita {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-akita__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: right;
}

.block-akita__column--right {
  text-align: left;
}

@media (max-width: 600px) {
  .block-akita__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
}

.block-akita__body {
  width: 100%;
  max-width: 610px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.block-akita__body--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 600px) {
  .block-akita__body--right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.block-akita__row {
  max-width: 535px;
  padding: 0 15px;
  text-align: left;
}

@media (max-width: 998px) {
  .block-akita__row {
    padding: 0 60px 0 20px;
  }
}

@media (max-width: 768px) {
  .block-akita__row {
    padding: 0 30px 0 20px;
  }
}

@media (max-width: 600px) {
  .block-akita__row {
    padding: 0 30px 0 20px;
  }
}

.block-akita__date {
  padding: 80px 0 5px 0;
}

@media (max-width: 768px) {
  .block-akita__date {
    padding: 40px 0 5px 0;
  }
}

.block-akita__date span {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.block-akita__date--w span {
  color: #222222;
}

.block-akita__title {
  padding: 0 0 25px 0;
}

.block-akita__text {
  padding: 0 0 95px 0;
}

@media (max-width: 768px) {
  .block-akita__text {
    padding: 0 0 35px 0;
  }
}

.block-akita__text p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  padding: 15px 0;
}

.block-akita__text--w p {
  color: #222222;
}

.block-akita__image {
  height: 100%;
}

.block-akita__column--w {
  background-color: #f3f3f3;
  color: #222222;
}

.block-blog {
  padding: 0 0 40px 0;
}

@media (max-width: 1200px) {
  .block-blog {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 768x) {
  .block-blog {
    padding: 0 0 0px 0;
  }
}

.block-blog__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 30px 0;
}

.block-blog__center span {
  font-size: 30px;
  line-height: 37px;
  font-weight: 400;
  color: #222222;
  text-align: center;
}

@media (max-width: 800px) {
  .block-blog__center span {
    font-size: 25px;
  }
}

@media (max-width: 680px) {
  .block-blog__center span {
    font-size: 20px;
  }
}

.block-blog__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 30px 0;
}

.block-blog__colums {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 768px) {
  .block-blog__colums {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.block-blog__card {
  padding: 0 0 30px 0;
}

.block-blog__img img {
  width: 100%;
}

.block-blog__heading {
  padding: 25px 0 15px 0;
}

@media (max-width: 1200px) {
  .block-blog__heading span {
    font-size: 15px;
  }
}

.block-blog__text p {
  text-align: center;
}

.block-note {
  background-color: #11749e;
  padding: 115px 0 150px 0;
}

@media (max-width: 768px) {
  .block-note {
    padding: 40px 0 0 0;
  }
}

.block-note__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-note__colum {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .block-note__colum {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 15px 60px 15px;
  }
}

.block-note__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.block-note__img {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 69px;
          flex: 0 1 69px;
}

.block-note__img img {
  padding: 10px 0 0 0;
}

.block-note__text {
  padding: 0 15px 0 0;
}

.block-note__text p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.block-free {
  background: url("../img/free/02.png") 0 0/cover no-repeat;
}

.block-free__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-free__coloms {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .block-free__coloms {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.block-free__img img {
  max-width: 100%;
  height: auto;
}

.block-free__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.block-free__menu-list {
  max-width: 430px;
}

.block-free__menu-list-item {
  padding-left: 15px;
  background-color: #11749e;
  margin: 20px 0;
}

.block-free__menu-list-item span {
  font-size: 14.5px;
  line-height: 35px;
  font-weight: 500;
  text-transform: uppercase;
}

.block-free__menu-list-item--1 {
  max-width: 80%;
}

.block-free__menu-list-item--2 {
  max-width: 90%;
}

.block-team__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 30px 0;
}

.block-team__center span {
  font-size: 30px;
  line-height: 37px;
  font-weight: 400;
  color: #222222;
  text-align: center;
}

@media (max-width: 800px) {
  .block-team__center span {
    font-size: 25px;
  }
}

@media (max-width: 680px) {
  .block-team__center span {
    font-size: 20px;
  }
}

.block-team__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  padding: 40px 0 60px 0;
}

@media (max-width: 768px) {
  .block-team__bottom {
    padding: 40px 0 0 0;
  }
}

.block-team__coloms {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px 40px 15px;
}

@media (max-width: 768px) {
  .block-team__coloms {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 500px) {
  .block-team__coloms {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.block-team__card {
  position: relative;
}

.block-team__img {
  position: relative;
}

.block-team__img img {
  width: 100%;
}

.block-team__title {
  background-color: #ffffff;
  position: absolute;
  bottom: 10;
  left: 50%;
  -webkit-transform: translate(-50%, -99%);
          transform: translate(-50%, -99%);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-team__title span {
  padding: 20px 0 7px 0;
  font-family: Gotham;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #11749e;
  text-align: center;
  width: 80%;
}

.block-team__sub-title {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

.block-form {
  background: url("../img/form/01.png") 0 0/cover no-repeat;
}

.block-form__form {
  padding: 35px 0;
}

.block-form__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  padding: 35px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-form__user-coloms {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .block-form__user-coloms {
    padding: 20px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.block-form__user-coloms input {
  opacity: 1;
  background-color: rgba(128, 128, 128, 0);
  border: 1px solid #ffffff;
  width: 100%;
  padding: 15px 0 15px 20px;
  border: 1px solid #ffffff;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media (max-width: 768px) {
  .block-form__user-coloms input {
    padding: 7px 0 7px 20px;
  }
}

.block-form__text textarea {
  background-color: rgba(128, 128, 128, 0);
  border: 1px solid #ffffff;
  width: 100%;
  padding: 15px 0 15px 20px;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media (max-width: 768px) {
  .block-form__text textarea {
    padding: 7px 0 7px 20px;
  }
}

.block-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 0;
}

.block-form__button button {
  background-color: #11749e;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 60px 25px 60px;
}

.block-map {
  min-height: 332px;
  background: url("../img/map/01.png") 50% 0/cover no-repeat;
}

.footer {
  background-color: #222222;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 0 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 25px 0;
}

.footer__reserv span {
  height: 25px;
}

.footer__design span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block--blb {
  padding: 80px 0 30px 0;
}

.block--blb__item {
  position: relative;
}

.block--blb__title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
}

.block--blb__title span {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block--blb__background-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block--blb__background-item span {
  font-family: 'Roboto Condensed', sans-serif;
  opacity: 0.18;
  font-size: 245px;
  line-height: 210px;
  font-weight: 700;
}

.title {
  font-size: 38px;
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
}

.sub-title {
  font-family: Gotham;
  font-size: 25px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.heading {
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.color--w {
  color: #ffffff;
}

.color--b {
  color: #222222;
}

.color--bl {
  color: #11749e;
}
